.gra {
	stroke: gray;
	stroke-width: 1px;
}

.bn_0 {
	stroke: #777;
	stroke-width: 1px;
}

.bn_1 {
	stroke: #777;
	stroke-width: 0.2px;
}

.bn_2 {
	stroke: #777;
	stroke-width: 0.2px;
}

.bn_3 {
	stroke: #777;
	stroke-width: 0.2px;
}

.bn_oth {
	stroke: #444;
	stroke-width: 1px;
}

.bn_co {
	stroke: #777;
	stroke-width: 1px;
}

.cntbn {
	stroke: #777;
	stroke-width: 1px;
}


.nutsrg:hover {
	fill: #bbb;
}

.cntrg {
	fill: #eee;
}

.cntrg:hover {
	fill: #ddd;
}
