.cmarg {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.graticule {
    fill: none;
    stroke-width: 1px;
    stroke:rgb(124, 124, 124);
}

.cntrg {
    fill: lightgray;
}
.cntrg:hover { 
    fill: #ffc890;
}

.nutsrg {
    fill: #a5a5a5;
}
.nutsrg:hover { 
    fill: #ff7f00;
}

.cntbn {
    fill: none;
    stroke-width: 1px;
    stroke: white;
}
.nutsbn {
    fill: none;
    stroke-width: 1px;
    stroke: rgb(255, 255, 255);
}
